@use '../../styles/mixin.scss' as mixin;

.container {
  // background: mixin.$neutral-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
  gap: 20px;
  width: 100%;
}

.logo {
  height: mixin.$xxLarge;
  width: mixin.$xxLarge;

  @include mixin.mobile {
    height: mixin.$large;
    width: mixin.$large;
  }
}

.header {
  font-family: mixin.$sans;
  font-size: mixin.$heading_03;
  font-weight: mixin.$semibold;

  @include mixin.mobile {
    font-size: mixin.$heading_05;
  }
}

.subheader {
  font-family: mixin.$sans;
  font-size: mixin.$paragraph_02;
  font-weight: mixin.$regular;

  @include mixin.mobile {
    font-size: mixin.$paragraph_01;
  }
}

.inputContainer {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 18px;

  // @include mixin.tablet {
  //   padding: 0 14rem;
  // }
  @include mixin.tablet {
    // padding: 0 14rem;
    width: 500px;
  }
  @include mixin.desktop {
    // padding: 0 14rem;
    width: 600px;
  }
}

.usernameWrapper {
  display: flex;
  gap: 5px;
}

.usernameInputWrapper {
  flex: 1;
  border: mixin.$border-thin;
  border-radius: mixin.$border-radius-small;
  padding: 4px;
}

.domain {
  font-family: mixin.$mono;
  font-size: mixin.$paragraph_01;
  justify-self: flex-end;
  align-self: flex-end;

  @include mixin.mobile {
    font-size: mixin.$caption;
  }
}

.flexInputWrapper {
  display: flex;
  gap: 10px;

  @include mixin.mobile {
    flex-direction: column;
  }
}

.flexInput {
  width: 100%;
  border: mixin.$border-thin;
  border-radius: mixin.$border-radius-small;
  padding: 4px;
}

.inputWrapper {
  border: mixin.$border-thin;
  border-radius: mixin.$border-radius-small;
  padding: 4px;
}

.textInput {
  font-family: mixin.$mono;
  padding: 4px;
  border: none;
  outline: none;
  width: 100%;

  @include mixin.mobile {
    font-size: mixin.$paragraph_01;
  }
}

.darkBtn {
  font-family: mixin.$sans;
  font-weight: mixin.$semibold;
  cursor: pointer;
  padding: 8px 10px;
  background: black;
  color: mixin.$neutral-100;
  border-radius: mixin.$border-radius-small;
  // &:hover {
  //   background: mixin.$ink;
  // }

  @include mixin.mobile {
    font-size: mixin.$paragraph_01;
    padding: 8px;
  }
}

.dividerContainer {
  display: flex;
  font-family: mixin.$mono;
}

.lineDivider {
  display: block;
}

.prompt {
  font-family: mixin.$sans;
  font-size: mixin.$paragraph_01;
  color: mixin.$neutral-500;
}

.login {
  font-weight: mixin.$semibold;
  color: mixin.$dark-gray;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: mixin.$dark-gray;
  }
}
