@use '../../styles/mixin.scss' as mixin;

.container {
  display: flex;
  gap: mixin.$medium;
}

.postImage {
  flex: 1;
  // height: mixin.$blog-card-height;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: mixin.$border-radius-small;
  cursor: pointer;

  @include mixin.mobile {
    height: 20rem;
  }
}

.textContainer {
  flex: 1;
  margin: mixin.$small 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: mixin.$heading_06;
  margin-bottom: 2px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.excerpt {
  font-weight: mixin.$regular;
  font-size: mixin.$paragraph_01;
  line-height: 1.5;
  color: mixin.$neutral-500;
}

.publisherContainer {
  // background-color: green;
  display: flex;
  gap: mixin.$xSmall;
  align-items: center;
}

.publisherImage {
  height: mixin.$avatar-height;
  width: mixin.$avatar-height;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}

.publisherDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.publisherName {
  font-size: mixin.$paragraph_01;
}

.publishedDate {
  font-size: mixin.$caption;
  font-weight: mixin.$thin;
  color: mixin.$neutral-500;
}
