@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono&display=swap');

// FONT FAMILY
$sans: 'Inter';
$mono: 'JetBrains Mono';

// FONT SIZE
$caption: 10px;
$footer: 10px;
$caption: 12px;
$paragraph_03: 18px;
$paragraph_02: 16px;
$paragraph_01: 14px;
$subheading: 20px;
$heading_06: 19px;
$heading_05: 23px;
$heading_04: 28px;
$heading_03: 33px;
$heading_02: 39px;
$heading_01: 48px;
$display_02: 60px;
$display_01: 77px;

// FONT WEIGHT
$regular: 400;
$semibold: 600;
$bold: 700;

// COLORS
$white: '#000';
$black: '#FFF';
$neural: '#F8FAFC';
$dark-gray: '#FEE2E2';
$medium-gray: '#FEF2F2';
