@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=JetBrains+Mono&display=swap');

// FONT FAMILY
$sans: 'Inter';
$mono: 'JetBrains Mono';

// FONT SIZE
// $caption: 10px;
$tiny: 8px;
$footer: 10px;
$caption: 12px;
$paragraph_03: 18px;
$paragraph_02: 16px;
$paragraph_01: 14px;
$subheading: 20px;
$heading_06: 19px;
$heading_05: 23px;
$heading_04: 28px;
$heading_03: 33px;
$heading_02: 39px;
$heading_01: 48px;
$display_02: 60px;
$display_01: 77px;

// FONT WEIGHT
$thin: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// COLORS
$white: #fff;
$black: #000;
$neutral-100: #f5f5f5;
$neutral-200: #e4e4e7;
$neutral-300: #d4d4d4;
$dark-gray: #1f1f1f;
$neutral-500: #525252;
$ink: #933c29;
$ink-faded: rgba(153, 27, 27, 0.8);

// ALERT COLORS
$warning: #fff3cd;
$warning-text: #967821;
$danger: #f8d7da;
$danger-text: #721c24;
$info: #e2e3e5;
$info-text: #676b6f;

// BORDER WIDTH
$border-input: 1px solid $black;
$border-thin: 1px solid $neutral-300;
$border-med: 2px solid $black;

// PADDING

// SIZES
$xSmall: 10px;
$small: 12px;
$medium: 16px;
$large: 36px;
$xLarge: 48px;
$xxLarge: 64px;
$blog-card-height: 14rem;
$avatar-height: 32px;
$app-icon-height: 42px;

// BORDER RADIUS
$border-radius-small: 5px;

// MARGIN
$mt-large: 48px 0 0 0;

// PADDING

// MEDIA QUERIES
$max-width: 1440px;
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: 1px) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-flexbox {
  @media (min-width: 1px) and (max-width: 950px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
