@use '../../styles/mixin.scss';

.container {
  // background: yellow;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px 12px;

  @include mixin.tablet-flexbox {
    margin-left: 8px;
  }
}
.textInput {
  width: 20rem;
  font-family: mixin.$mono;
  padding: 8px;
  border: 0;
  outline: none;
}
