@use '../../styles/mixin.scss';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px 12px;

  @include mixin.tablet-flexbox {
    margin-left: 8px;
  }

  @include mixin.tablet {
    // margin-left: 8px;
    width: 70%;
  }

  @include mixin.desktop {
    width: 20rem;
  }
}
.textInput {
  width: 100%;
  font-family: mixin.$mono;
  padding: 4px;
  border: 0;
  outline: none;
  flex: 1;
}

.searchIcon {
  justify-self: flex-end;
}
